/** ------------POLICES---------------- */

@font-face {
    font-family: 'comfortaa';
    src: url("../fonts/Comfortaa-Light.ttf") format("truetype")
}

@font-face {
    font-family: 'Titan One';
    src: url("../fonts/TitanOne-Regular.ttf") format("truetype")
}

/** ------------COULEURS---------------- */

html {
    --color-light: #F3F3F3;
    --color-dark: #000;
    --color-grey: #E4E0DE;
    --color-grey-dark: #6D767E;
    --color-grey-light: #F1EEE8;
    --color-primary: #8BBA66;
    --color-red: #C91818;
    --icone-grey-dark: invert(46%) sepia(15%) saturate(262%) hue-rotate(166deg) brightness(94%) contrast(90%);
    --icone-light: invert(100%) sepia(6%) saturate(253%) hue-rotate(286deg) brightness(111%) contrast(91%);
}

/** ------------BASES---------------- */

body {
    margin: 0;
    height: 100vh;
    background-color: var(--color-grey-light);
    font-family: 'comfortaa';
}

#root {
    height: 100%;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    background: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

h1, h2, p {
    font-weight: inherit;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    z-index: 3;
    position: relative;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

/** ------------HEADER---------------- */

header {
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.header-container {
    height: 35px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

header button, header a {
    width: 33px;
    height: 33px;
    background: var(--color-light);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 4px 4px rgb(0 0 0 / 25%);
}

header .titre {
    display: flex;
    align-items: center;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 121%;
    color: var(--color-grey-light);
    text-shadow: 2px 2px 0.5px var(--color-grey-dark),
        0px 2px 0.5px var(--color-grey-dark),
        -1px 1.5px 0px var(--color-grey-dark),
        -1px -1px 0px var(--color-grey-dark),
        1.5px -1px 0 var(--color-grey-dark),
        2px 0px 0 var(--color-grey-dark);
}

header .titre.left-empty {
    margin-left: 10px;
}

header .boutons {
    display: flex;
}

header .boutons a {
    margin-right: 11px;
}

header .boutons a:last-child {
    margin-right: 0;
}

header .boutons.vide {
    display: none;
}
    

/** ------------NAVBAR---------------- */

nav {
    position: fixed;
    width: 100vw;
    bottom: 5px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 15px 10px;
}

nav ul::before, nav ul::after {
    content: '';
    width: calc(50% - 59px);
    height: 45px;
    background: var(--color-light);
    position: absolute;
    top: 15px;
    border: 1.5px solid var(--color-grey-dark);
    border-radius: 22px;
}

nav ul::after {
    right: 21px;
}

nav::before {
    content: '';
    position: absolute;
    width: 112px;
    height: 53px;
    top: 13px;
    left: calc(50% - 57px);
    background: url(../images/footer.svg);
    background-size: 100%;
    z-index: 2;
}

li.recette, li.ingredient {
    position: absolute;
    bottom: 39px;
    left: calc(50% - 25px);
    padding: 12px;
    background: var(--color-primary);
    border-radius: 25px;
    z-index: 10;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

li.dashboard, li.courses {
    padding: 2px 6vw;
}

li.ingredients {
    padding-right: 100px;
    padding-top: 2px;
    padding-bottom: 2px;
}

li.agenda {
    padding: 2px 0;
}

li.dashboard .active div::before,
li.ingredients .active div::before,
li.agenda .active div::before,
li.courses .active div::before {
    content: '';
    background: var(--color-grey);
    width: 39px;
    height: 39px;
    display: block;
    position: absolute;
    top: -8px;
    left: -8px;
    border-radius: 25px;
    filter: opacity(0.2);
}

li.ingredients .active div::before,
li.agenda .active div::before {
    left: -8px;
}

li.ingredient {
    width: 24px;
    height: 24px;
}

.plus.ingredient {
    color: var(--color-light);
    font-size: 33px;
    font-weight: bold;
}

/** ------------PRESENTATION---------------- */

#presentation-dashboard, #presentation-ingredients {
    display: none;
}

#presentation-dashboard.show, #presentation-ingredients.show {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#presentation-dashboard .logo {
    background: url(../images/logo_app.png);
    height: 25vh;
    width: 32vh;
    background-size: 32vh;
}

#presentation-dashboard .bienvenue {
    font-size: 20px;
    position: absolute;
    top: 42vh;
}

#presentation-dashboard .ingredients, #presentation-dashboard .recette {
    width: 220px;
    font-size: 15px;
    position: absolute;
}

#presentation-dashboard .ingredients {
    bottom: 255px;
    left: calc(36vw - 110px);
}

#presentation-dashboard .recette {
    bottom: 180px;
    right: calc( 48vw - 145px);
    text-align: right;
}

#presentation-dashboard .ingredients::before {
    content: '';
    background: url(../images/fleche1.svg);
    width: 34px;
    height: 170px;
    display: block;
    position: absolute;
    top: 41px;
    left: 48px;
}

#presentation-dashboard .recette::before {
    content: '';
    background: url(../images/fleche2.svg);
    width: 55px;
    height: 83px;
    display: block;
    position: absolute;
    top: 43px;
    left: 100px;
}

#presentation-ingredients .illustration-ingredients {
    background: url(../images/illustration_ingredients.svg);
    height: 35vh;
    width: 23vh;
    background-size: 23vh;
    margin-top: 4vh;
}

#presentation-ingredients .explications {
    text-align: center;
    width: 240px;
    position: absolute;
    bottom: 220px;
    line-height: 20px;
}

#presentation-ingredients .explications::before {
    content: '';
    background: url(../images/fleche3.svg);
    width: 13px;
    height: 105px;
    display: block;
    position: absolute;
    top: 70px;
    left: 112.5px;
}

/** ------------FILTRES---------------- */

#filtres-dashboard ul {
    overflow: auto;
    white-space: nowrap;
}

#filtres-dashboard li {
    height: 60px;
    width: 60px;
    background: var(--color-light);
    border: 1.5px solid var(--color-grey-dark);
    border-radius: 15px;
    margin: 10px;
    display: inline-block;
}

#filtres-dashboard ::-webkit-scrollbar {
    display: none;
}

.icone.filtre {
    position: absolute;
    width: 45px !important;
    height: 45px !important;
    top: 14%;
    left: 13%;
}

/** ------------DASHBOARD---------------- */

.dashboard-container {
    padding-top: 75px;
}

#vignettes-dashboard ul {
    display: flex;
    justify-content: center;
}

#vignettes-dashboard .vignette {
    width: 85vw;
    height: 155px;
    margin: 10px 0px;
    background: var(--color-light);
    border: 1.5px solid var(--color-grey-dark);
    border-radius: 17px 0px;
}

#vignettes-dashboard .badge-temps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    width: 80px;
    font-size: 12px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    background: var(--color-grey-light);
    position: absolute;
    right: 12px;
    top: 10px;
}

#vignettes-dashboard .badge-temps .duree {
    margin-right: 9px;
    font-weight: bold;
}

#vignettes-dashboard .vignette .photo {
    background: var(--color-primary);
    width: 85vw;
    height: 99px;
    border-radius: 16px 0 0 0;
    border-bottom: 1.5px solid var(--color-grey-dark);
}

#vignettes-dashboard .vignette .infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    padding: 5px 10px;
    color: var(--color-grey-dark);
    font-size: 12px;
    font-weight: bold;
}

#vignettes-dashboard .vignette .titre {
    font-size: 15px;
    color: var(--color-dark);
}

#vignettes-dashboard .vignette .calories,
#vignettes-dashboard .vignette .prix {
    margin-top: 8px;
}

#vignettes-dashboard .vignette .info-personnes {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/** ------------DETAIL-RECETTE---------------- */

.detail-container {
    height: 100%;
    overflow: hidden;
}

.detail-container .photo-container {
    width: 100vw;
    height: calc(8vw + 190px);
    background: var(--color-primary);
    position: relative;
}

.detail-container .photo-container::after {
    content: '';
    bottom: 0;
    position: absolute;
    border-bottom: calc(8vw + 17px) solid var(--color-grey-light);
    border-right: 100vw solid transparent;
}

.detail-container .titre {
    position: absolute;
    top: 155px;
    right: 0;
    background: var(--color-grey);
    border-radius: 20px;
    padding: 3px 10px;
    margin-right: 10px;
    font-family: 'Titan One';
    font-size: 16px;
}

.detail-container .badge-saison {
    position: absolute;
    top: 164px;
    left: 25px;
    background: var(--color-light);
    border-radius: 20px;
    border: 1px solid var(--color-grey-dark);
    padding: 3px;
}

.detail-container .info-recette-container {
    display: flex;
    justify-content: space-evenly;
    transform: rotate(7.5deg);
    width: 102vw;
    padding-bottom: 5px;
    background: var(--color-grey-light);
}

.detail-container .icone-container {
    background: var(--color-light);
    border-radius: 20px;
    padding: 10px;
    width: 20px;
    height: 20px;
    margin: 3.5px;
}

.detail-container .info-recette-container .info-temps,
.detail-container .info-recette-container .info-personnes,
.detail-container .info-recette-container .info-argent,
.detail-container .info-recette-container .info-calories {
    background: var(--color-primary);
    height: 80px;
    width: 46px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: rotate(-7.5deg);
}

.detail-container .info-recette-container .valeur {
    font-family: 'Titan One';
    font-size: 13px;
    text-align: center;
}

.detail-container .info-recette-container .unite {
    font-size: 10px;
    text-align: center;
    margin-bottom: 6px;
}

.detail-container .tab-list {
    display: flex;
    width: 103vw;
    transform: rotate(7.5deg);
    justify-content: space-around;
    margin-left: -1vw;
    background: var(--color-grey-light);
    border-bottom: 1px solid var(--color-grey-dark);
}

.detail-container .tab-item {
    width: 50%;
    text-align: center;
    color: var(--color-grey-dark);
}

.detail-container .tab-item::before {
    content: '';
}

.detail-container .tab-item.active {
    color: var(--color-dark);
}

.detail-container .tab-item.active::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    bottom: -5px;
    border-bottom: 5px solid var(--color-primary);
}

.detail-container .tab-item div {
    font-size: 13px;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 5px;
}

.detail-container .tab-content {
    height: calc(100vh - 307px);
    overflow-y: auto;
    margin-top: -43px;
}

.detail-container .tab-content .swipe {
    position: relative;
    z-index: -1;
    margin-top: 50px;
}

.detail-container .tab-content .swipe::before {
    content: '';
    position: absolute;
    top: -50px;
    border-bottom: 50px solid var(--color-grey);
    border-right: 100vw solid transparent;
}

.detail-container .tab-content h2 {
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 14px;
    padding: 10px 15px;
    background: var(--color-grey);
}

.detail-container .tab-content .ingredients,
.detail-container .tab-content .etapes {
    margin: 20px 30px;
}

.detail-container .tab-content .ingredients li,
.detail-container .tab-content .etapes li {
    margin-top: 10px;
    font-size: 15px;
    display: flex;
}

.detail-container .tab-content .ingredients li::before,
.detail-container .tab-content .etapes li::before {
    content: "\25CF";
    color: var(--color-primary);
    margin-right: 10px;
    display: inline-block;
}

.detail-container .tab-content .ingredients li span {
    color: var(--color-primary);
    font-weight: bold;
    font-size: 12px;
    margin-left: 10px;
    display: flex;
}

.detail-container .tab-content .etapes p {
    font-size: 13px;
}


/** ------------INGREDIENTS---------------- */

.ingredients-container {
    padding-top: 75px;
}

/** ------------INGREDIENT---------------- */

.ingredient-container {
    padding-top: 75px;
}

/** ------------RECETTE---------------- */

.recette-container {
    padding-top: 75px;
}

/** ------------AGENDA---------------- */

.agenda-container {
    padding-top: 75px;
}

/** ------------COURSES---------------- */

.courses-container {
    padding-top: 75px;
}

/** ------------CHOIX-PLAT---------------- */

.choix-plat-container {
    padding-top: 75px;
}

/** ------------PARAMETRES---------------- */

.parametres-container {
    padding-top: 75px;
}


/** ------------ICONES---------------- */

.icone {
    background-size: 100% !important;
    filter: var(--icone-grey-dark);
    position: relative;
}

.icone.setting {
    background: url(../images/setting.svg);
    width: 24px;
    height: 24px;
    margin-left: 1px;
}

.icone.back {
    background: url(../images/chevron.svg);
    width: 24px;
    height: 24px;
    margin-right: 1px;
}

.icone.dashboard {
    background: url(../images/dashboard.svg);
    width: 24px;
    height: 24px;
}

.icone.ingredients {
    background: url(../images/oeuf.svg);
    width: 24px;
    height: 24px;
}

.icone.recette {
    background: url(../images/toque.svg);
    width: 24px;
    height: 24px;
    filter: var(--icone-light);
}

.icone.ingredient {
    background: url(../images/plus.svg);
    width: 18px;
    height: 18px;
    margin-left: 3px;
    margin-top: 3px;
    filter: var(--icone-light);
}

.icone.agenda {
    background: url(../images/agenda.svg);
    width: 24px;
    height: 24px;
}

.icone.courses {
    background: url(../images/caddie.svg);
    width: 24px;
    height: 24px;
}

.icone.modif {
    background: url(../images/pen.svg);
    width: 21px;
    height: 21px;
    margin-left: 2px;
}

.icone.suppr {
    background: url(../images/trash.svg);
    width: 21px;
    height: 21px;
    margin-left: 2px;
}

.icone.automne {
    background: url(../images/leaf.svg);
    width: 20px;
    height: 20px;
}

.icone.hiver {
    background: url(../images/snow.svg);
    width: 20px;
    height: 20px;
}

.icone.ete {
    background: url(../images/sun.svg);
    width: 20px;
    height: 20px;
}

.icone.printemps {
    background: url(../images/flower.svg);
    width: 20px;
    height: 20px;
}

.icone.toutes-saisons {
    background: url(../images/infinite.svg);
    width: 20px;
    height: 20px;
}

.icone.temps {
    background: url(../images/clock.svg);
    width: 20px;
    height: 20px;
    filter: inherit;
}

.badge-temps .icone.temps {
    width: 17px;
    height: 17px;
    margin-left: 7px;
}

.icone.personnes {
    background: url(../images/people.svg);
    width: 20px;
    height: 20px;
    filter: inherit;
    margin-bottom: 2px;
}

.vignette .icone.personnes {
    filter: var(--icone-grey-dark);
    width: 18px;
    height: 18px;
    margin-right: 7px;
}

.icone.argent {
    background: url(../images/cash.svg);
    width: 20px;
    height: 20px;
    filter: inherit;
    margin-top: 1.5px;
}

.icone.boeuf {
    background: url(../images/steak.svg);
    top: 12%;
}

.icone.porc {
    background: url(../images/saucisse.svg);
    top: -4%;
}

.icone.poulet {
    background: url(../images/poulet.svg);
    top: 1%;
}

.icone.poisson {
    background: url(../images/fish.svg);
}

.icone.calories {
    background: url(../images/firebowl.svg);
    width: 20px;
    height: 20px;
    filter: inherit;
}