/** ------------POLICES---------------- */

@font-face {
    font-family: 'comfortaa';
    src: url("../fonts/Comfortaa-Light.ttf") format("truetype")
}

@font-face {
    font-family: 'Titan One';
    src: url("../fonts/TitanOne-Regular.ttf") format("truetype")
}

/** ------------COULEURS---------------- */

html {
    --color-light: #F3F3F3;
    --color-dark: #000;
    --color-grey: #E4E0DE;
    --color-grey-dark: #6D767E;
    --color-grey-light: #F1EEE8;
    --color-primary: #8BBA66;
    --color-red: #C91818;
    --icone-grey-dark: invert(46%) sepia(15%) saturate(262%) hue-rotate(166deg) brightness(94%) contrast(90%);
    --icone-light: invert(100%) sepia(6%) saturate(253%) hue-rotate(286deg) brightness(111%) contrast(91%);
}

/** ------------BASES---------------- */

body {
    margin: 0;
    height: 100vh;
    background-color: var(--color-grey-light);
    font-family: 'comfortaa';
}

#root {
    height: 100%;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    background: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

/** ------------HEADER---------------- */

header {
    height: 35px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

header button, header a {
    width: 33px;
    height: 33px;
    background: var(--color-light);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 4px 4px rgb(0 0 0 / 25%);
}

header .titre {
    display: flex;
    align-items: center;
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 121%;
    color: var(--color-grey-light);
    text-shadow: 2px 2px 0.5px var(--color-grey-dark),
        0px 2px 0.5px var(--color-grey-dark),
        -1px 1.5px 0px var(--color-grey-dark),
        -1px -1px 0px var(--color-grey-dark),
        1.5px -1px 0 var(--color-grey-dark),
        2px 0px 0 var(--color-grey-dark);
}

header .titre.left-empty {
    margin-left: 10px;
}
    

/** ------------NAVIGATION---------------- */

nav {
    position: fixed;
    width: 100vw;
    bottom: 5px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 15px 10px;
}

ul::before, ul::after {
    content: '';
    width: calc(50% - 59px);
    height: 45px;
    background: var(--color-light);
    position: absolute;
    top: 15px;
    border: 1.5px solid var(--color-grey-dark);
    border-radius: 22px;
}

ul::after {
    right: 21px;
}

nav::before {
    content: '';
    position: absolute;
    width: 112px;
    height: 53px;
    top: 13px;
    left: calc(50% - 57px);
    background: url(../images/footer.svg);
    background-size: 100%;
    z-index: 2;
}

li {
    z-index: 3;
    position: relative;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

li.recette {
    position: absolute;
    bottom: 39px;
    left: calc(50% - 25px);
    padding: 12px;
    background: var(--color-primary);
    border-radius: 25px;
    z-index: 10;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

li.dashboard, li.courses {
    padding: 2px 25px;
}

li.ingredients {
    padding-right: 100px;
    padding-top: 2px;
    padding-bottom: 2px;
}

li.agenda {
    padding: 2px 0;
}

li.dashboard .active::before,
li.ingredients .active::before,
li.agenda .active::before,
li.courses .active::before {
    content: '';
    background: var(--color-grey);
    width: 39px;
    height: 39px;
    display: block;
    position: absolute;
    top: -6px;
    left: 18px;
    border-radius: 25px;
}

li.ingredients .active::before,
li.agenda .active::before {
    left: -8px;
}

/** ------------PRESENTATION---------------- */

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentation .logo {
    background: url(../images/logo_app.png);
    height: 25vh;
    width: 32vh;
    background-size: 32vh;
    margin: 1.5vh;
}

.presentation .bienvenue {
    font-size: 20px;
    position: absolute;
    bottom: 55vh;
}

.presentation .ingredients, .presentation .recette {
    width: 220px;
    font-size: 15px;
    position: absolute;
}

.presentation .ingredients {
    bottom: 320px;
    left: calc(30vw - 90px);
}

.presentation .recette {
    bottom: 200px;
    right: calc( 50vw - 181px);
}

.presentation .ingredients::before {
    content: '';
    background: url(../images/fleche1.svg);
    width: 51px;
    height: 232px;
    display: block;
    position: absolute;
    top: 41px;
    left: 33px;
}

.presentation .recette::before {
    content: '';
    background: url(../images/fleche2.svg);
    width: 57px;
    height: 99px;
    display: block;
    position: absolute;
    top: 43px;
    left: 76px;
}


/** ------------ICONES---------------- */

.icone {
    background-size: 100% !important;
    filter: var(--icone-grey-dark);
}

.icone.setting {
    background: url(../images/setting.svg);
    width: 24px;
    height: 24px;
    margin-left: 1px;
}

.icone.back {
    background: url(../images/chevron.svg);
    width: 24px;
    height: 24px;
    margin-right: 1px;
}

.icone.dashboard {
    background: url(../images/dashboard.svg);
    width: 24px;
    height: 24px;
}

.icone.ingredients {
    background: url(../images/oeuf.svg);
    width: 24px;
    height: 24px;
}

.icone.recette {
    background: url(../images/toque.svg);
    width: 24px;
    height: 24px;
    filter: var(--icone-light);
}

.icone.agenda {
    background: url(../images/agenda.svg);
    width: 24px;
    height: 24px;
}

.icone.courses {
    background: url(../images/caddie.svg);
    width: 24px;
    height: 24px;
}